# Build artifacts
dist/
out/
*.vsix
*.pyz
*.exe
*.toc
*.pkg
*.zip

# Dependencies
node_modules/

# VSCode test runner
.vscode-test/

# Editor/project config (optional)
.vscode/

# Logs and temp
*.log
*.tmp
warn*
xref*

# pycache
__pycache__
*.pyc